%h1= t('place_rents.title')
%table.table.table-striped
  %thead
    %tr
      %th= t('place_rents.start_date')
      %th= t('place_rents.end_date')
      %th= t('place_rents.parking')
      %th= t('place_rents.car')
      %th= t('place_rents.price')
      %th
  %tbody
    - @place_rents.each do |place_rent|
      %tr
        %td= place_rent.starts_at
        %td= place_rent.ends_at
        %td= parking_address(place_rent.parking)
        %td= link_to place_rent.car.display_car, car_path(place_rent.car)
        %td= place_rent.price
        %td
          .btn-group.pull-right
            = link_to t('crud.show'), place_rent, class: "btn btn-info"
%br/
