<h1>Place rents</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Parking</th>
      <th>Car</th>
      <th>Price of place rent</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @place_rents.each do |place_rent| %>
    <tr>
      <td><%= place_rent.starts_at %></td>
      <td><%= place_rent.ends_at %></td>
      <td><%= link_to place_rent.parking.address.display_full_address,
                      parking_path(place_rent.parking) %></td>
      <td><%= link_to place_rent.car.display_car,
                      car_path(place_rent.car) %></td>
      <td><%= place_rent.price %></td>
      <td><%= link_to "Show", place_rent %></td>
    </tr>
    <% end %>
  </tbody>
</table><br />

<%= link_to "Go to parkings list", parkings_path %>
