%h1 Place rent
%table.table.table-striped
  %thead
    %tr
      %th= t('place_rents.start_date')
      %th= t('place_rents.end_date')
      %th= t('place_rents.parking')
      %th= t('place_rents.car')
      %th= t('place_rents.price')
  %tbody
    %tr
      %td= @place_rent.starts_at
      %td= @place_rent.ends_at
      %td= link_to "#{@place_rent.parking.address.zip_code}  #{@place_rent.parking.address.city} #{@place_rent.parking.address.street}", parking_path(@place_rent.parking)
      %td= link_to "#{@place_rent.car.model} #{@place_rent.car.registration_number}", car_path(@place_rent.car)
      %td= @place_rent.price
%br/
= link_to t('buttons.back'), place_rents_path
