<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right nav-item">
        <li><%= link_to t('parkings.title'), parkings_path %></li>
        <% if current_person.present? %>
        <li><%= link_to t('cars.title'), cars_path %></li>
        <li><%= link_to t('place_rents.title'), place_rents_path %></li>
        <li><%= t('user.logged_in_as') %> <br /><%= current_person.full_name %></li>
        <li><%= link_to t('user.log_out'), logout_path, method: :delete %></li>
        <% else %>
        <li><a><%= t('user.not_loggedin') %></a></li>
        <li><%= link_to t('user.log_in'), login_path %></li>
        <li><%= link_to t('user.register'), register_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
