%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    %nav
      %ul.nav.navbar-nav.navbar-right.nav-item
        %li= link_to t('parkings.title'), parkings_path
        - if current_person.present?
          %li= link_to t('cars.title'), cars_path
          %li= link_to t('place_rents.title'), place_rents_path
          %li
            = t('user.logged_in_as')
            %br/
            = current_person.full_name
          %li= link_to t('user.log_out'), logout_path, method: :delete
        - else
          %li
            %a= t('user.not_loggedin')
          %li= link_to t('user.log_in'), login_path
          %li= link_to t('user.log_in_fb'), facebook_login_path, id: "sign_in"
          %li= link_to t('user.register'), register_path
        - if I18n.locale == I18n.default_locale
          %li= link_to (image_tag("http://www.flags.net/images/smallflags/POLA0001.GIF")), :locale=>'pl'
        - else
          %li= link_to (image_tag("http://www.flags.net/images/smallflags/UNKG0001.GIF")), :locale=>'en'
