= render 'shared/error_messages', object: @parking
= form_for @parking, html: { class: "form-horizontal center" } do |f|
  = f.fields_for :address_attributes, @parking.address do |address_fields|
    .form-group
      = address_fields.label :city, t('parkings.form.city'), class: "col-md-4 control-label"
      .col-md-8
        = address_fields.text_field :city
        %br/
    .form-group
      = address_fields.label :street, t('parkings.form.street'), class: "col-md-4 control-label"
      .col-md-8
        = address_fields.text_field :street
        %br/
    .form-group
      = address_fields.label :zip_code, t('parkings.form.zip_code'), class: "col-md-4 control-label"
      .col-md-8
        = address_fields.text_field :zip_code
        %br/
  .form-group
    = f.label :places, t('parkings.form.places'), class: "col-md-4 control-label"
    .col-md-8
      = f.text_field :places
      %br/
  .form-group
    = f.label :hour_price, t('parkings.form.price_hour'), class: "col-md-4 control-label"
    .col-md-8
      = f.text_field :hour_price
      %br/
  .form-group
    = f.label :day_price, t('parkings.form.price_day'), class: "col-md-4 control-label"
    .col-md-8
      = f.text_field :day_price
      %br/
  .form-group
    = f.label :kind, t('parkings.form.kind'), class: "col-md-4 control-label"
    .col-md-8
      = f.select :kind do
        = options_for_select %w(outdoor indoor private street), @parking.kind
      %br/
  .form-group
    .col-md-8.col-md-offset-4
      = f.submit t('buttons.submit'), class: "btn btn-primary"
    %br/
%br/
