<h1>Parkings</h1>

<%= render partial: "search" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>City</th>
      <th>Places</th>
      <th>Hour price</th>
      <th>Day price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @parkings.each do |parking| %>
    <tr>
      <td><%= parking.address.try(:city) %></td>
      <td><%= parking.places %></td>
      <td><%= parking.hour_price %></td>
      <td><%= parking.day_price %></td>
      <td>
        <div class="btn-group pull-right">
          <%= link_to "Rent a place", new_parking_place_rent_path(parking), class: "btn btn-primary" %>
          <%= link_to "Show", parking, class: "btn btn-info" %>
          <%= link_to "Edit", edit_parking_path(parking), class: "btn btn-default" %>
          <%= link_to "Remove", parking, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table><br />

<%= link_to "Add new parking", new_parking_path, class: "btn btn-primary" %>
