%h1= t('parkings.title')
= render partial: "search"
%table.table.table-striped
  %thead
    %tr
      %th= t('parkings.city')
      %th= t('parkings.places')
      %th= t('parkings.hour_price')
      %th= t('parkings.day_price')
      %th
  %tbody
    - @parkings.each do |parking|
      %tr
        %td= parking.address.try(:city)
        %td= parking.places
        %td= parking.hour_price
        %td= parking.day_price
        %td
          .btn-group.pull-right
            = link_to t('parkings.rent_place'), new_parking_place_rent_path(parking), class: "btn btn-primary"
            = link_to t('crud.show'), parking, class: "btn btn-info"
            = link_to t('crud.edit'), edit_parking_path(parking), class: "btn btn-default"
            = link_to t('crud.delete'), parking, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" }
%br/
= link_to t('parkings.add_new'), new_parking_path, class: "btn btn-primary"
