= render 'shared/error_messages', object: @car
= form_for @car, html: { class: "form-horizontal center" } do |f|
  .form-group
    = f.label :registration_number, t('cars.form.registration'), class: "col-md-4 control-label"
    .col-md-8
      = f.text_field :registration_number
  %br/
  .form-group
    = f.label :model, t('cars.form.model'), class: "col-md-4 control-label"
    .col-md-8
      = f.text_field :model
  %br/
  .form-group
    = f.label :image, t('cars.form.image'), class: "col-md-4 control-label"
    .col-md-8
      = f.file_field :image
  %br/
  .form-group
    .col-md-8.col-md-offset-4
      = f.submit t('buttons.submit'), class: "btn btn-primary"
  %br/
%br/
