%h1= t('cars.title')
%table.table.table-striped
  %thead
    %tr
      %th= t('cars.registration')
      %th= t('cars.model')
      %th
  %tbody
    - @cars.each do |car|
      %tr
        %td= car.registration_number
        %td= car.model
        %td
          .btn-group.pull-right
            = link_to t('crud.show'), car, class: "btn btn-info"
            = link_to t('crud.edit'), edit_car_path(car), class: "btn btn-default"
            = link_to t('crud.delete'), car, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" }
%br/
= link_to t('cars.add_new'), new_car_path
