<h1>Car</h1>

<table>
  <thead>
    <tr>
      <th>Registration number</th>
      <th>Model</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @car.registration_number %></td>
      <td><%= @car.model %></td>
      <td><%= link_to "Show", @car %></td>
      <td><%= link_to "Edit", edit_car_path(@car) %></td>
      <td><%= link_to "Remove", @car, method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  </tbody>
</table><br />

<%= link_to "Go back to all", cars_path %>
