<!DOCTYPE html>
<html>
<head>
  <title><%= show_current_controller %> - Bootcamp8Matisnape2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/flash_messages' %>
<%= yield %>
<br /><br />
<%= link_to "Go to parkings list", parkings_path %><br />
<%= link_to "Go to cars list", cars_path %><br />
<%= link_to "Go to place rents list", place_rents_path %><br /><br />
Current person is: <%= current_person.fullname %>
</body>
</html>
